.page-title {
  display: block !important;
  text-align: center;
  font-size: 2rem;
  margin-top: 10px;
}

.form-container {
  width: 320px;
  margin: auto;
}

.ui.teal.button:focus,
.ui.teal.buttons .button:focus {
  background-color: #00b5ad;
}

@media (min-width: 768px) {
  .form-container {
    width: 450px;
  }
}
